<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/loginForm.css">
    <title>Login Form</title>
</head>
<body>
    <div class="login-window">
        <button class="close-button">&times;</button>
        <h1 class="Welcome">Welcome Back!</h1>
        <h2 class="Enter-details">Please enter your details to login</h2>
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button class="Login-button">Login</button>
    </div>
</body>
</html>