<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/suggestedTaskComponent.css">
    <title>Task Cards</title>
</head>
<body>
    <div class="task-grid">
        <div class="suggestedTaskCardMood">
            <button class="check-btn"></button>
            <div class="task-info">
                <h3 class="task-title">Suggested Task Mood</h3>
                <div class="task-details">
                    <span class="duration">100 min</span>
                    <span class="time">12:00 AM</span>
                </div>
            </div>
            
            <div class="basedOn">
                <span>Based on</span>
            </div> 

            <svg width="26" height="26" viewBox="0 0 48 48" fill="none"
                    xmlns="http://www.w3.org/2000/svg" class="moodIcon">
  
                <circle cx="24" cy="24" r="20"
                    stroke="currentColor" stroke-width="3" fill="none"/>

  
                <circle cx="17" cy="19" r="2.5" fill="currentColor"/>
                <circle cx="31" cy="19" r="2.5" fill="currentColor"/>

                <path d="M16 28c2 4 6 6 8 6s6-2 8-6"
                    stroke="currentColor" stroke-width="3"
                    stroke-linecap="round" fill="none"/>
            </svg>
        </div>

        <div class="suggestedTaskCardWeather">
            <button class="check-btn"></button>
            <div class="task-info">
                <h3 class="task-title">Suggested Task Weather</h3>
                <div class="task-details">
                    <span class="duration">100 min</span>
                    <span class="time">12:00 AM</span>
                </div>
            </div>

        <div class="basedOn">
            <span>Based on</span>
        </div> 

            <svg class="weatherIcon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                aria-hidden="true">

                <path d="M13 30a5 5 0 0 1-5-5h2a3 3 0 1 0 3-3H4v-2h9a5 5 0 0 1 0 10z" />
                <path d="M25 25a5 5 0 0 1-5-5h2a3 3 0 1 0 3-3H2v-2h23a5 5 0 0 1 0 10z" />
                <path d="M21 12H6v-2h15a3 3 0 1 0-3-3h-2a5 5 0 1 1 5 5z" />
            </svg>  
        </div>

    </div>
</body>
</html>





