<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/taskCreationForm.css">
    <title>Login Form</title>
</head>
<body>
    <div class="Task-Create">
        <button class="close-button">&times;</button>
        <h1 class="new-task-header">Add a new task</h1>
        <input type="text" name="task-name" placeholder="Task Name">
        <input type="number" name="duration" placeholder="Duration (in minutes)">
        <input type="time" name="time">
        <button class="create-button">Create Task</button>
    </div>
</body>
</html>