.mood-card {
    width: 90%;
    max-width: 380px;
    background: #2b2e2b;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.mood-label {
    font-size: 1.3rem;
    font-weight: 500;
    color: #bfbfbf;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mood-slider-container {
    position: relative;
    padding-top: 40px;
}

.mood-icons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
}

.mood-icon {
    width: 36px;
    height: 36px;
    opacity: 0.4;
    color:#03bafc;
    transition: opacity 0.2s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mood-slider {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
}


.mood-slider::-webkit-slider-runnable-track {
    height: 6px;
    background: #1b53e0;
    border-radius: 4px;
}

.mood-slider::-moz-range-track {
    height: 6px;
    background: #03bafc;
    border-radius: 4px;
}


.mood-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 26px;
    height: 26px;
    background: #1b53e0;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
}

.mood-slider::-moz-range-thumb {
    width: 26px;
    height: 26px;
    background: #03bafc;
    border-radius: 50%;
    cursor: pointer;
}
